
<div <div class="col-lg-offset-3 col-md-6 text-center">
<form action="contact_submitted">
  Please enter your first name:</br>
  <input name="fname"></br>
  last name:</br>
  <input name="lname"></br>
  <button>Submit</button>
</form>
</div>