
<div class="col-lg-offset-3 col-md-6 text-center">
<h1 class="text-center">Choose rock, paper, or scissors</h1>
<a href="rps/result?choice=0"> <img class='player-button' src="rock.jpg"> </a>
<a href="rps/result?choice=1"> <img class='player-button' src="paper.jpg"> </a>
<a href="rps/result?choice=2"> <img class='player-button' src="scissors.jpg"> </a></div>