
<div class="center-block" style="width:80%;">
<h1 style="width:300px;">Choose rock, paper, or scissors</h1>
<a href="rps/result?choice=0"> <img class='player-button' src="rock.jpg"> </a>
<a href="rps/result?choice=1"> <img class='player-button' src="paper.jpg"> </a>
<a href="rps/result?choice=2"> <img class='player-button' src="scissors.jpg"> </a></div>